#nlpop {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 700px;
    height: 300px;
    display: none;
    background: rgba(0,0,0,.97);
    z-index: 10000;
    box-shadow: -1px -1px 2px rgba(0, 0, 0, .2);
}
#nlpop-open {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 9px 22px;
    z-index: 10000;
    display: none;
    box-shadow: -1px -1px 2px rgba(0, 0, 0, .2);
    border-top: 1px solid #f0c14b;
    border-right: 1px solid #f0c14b;
    cursor: pointer;
    background-color: #f0c14b;
    color: #333333;
}
.newsletter-popup {
    background-image: url('images/tjej-tittar-vanster.jpg');
    background-position: 0 -70px;
    background-size: cover;
    color: #fff;
    height: 300px;
    left: 0;
    margin-left: 0;
    position: fixed;
    text-shadow: 1px 1px 2px rgba(0,0,0,.15);
    bottom: 0;
    width: 700px;
    z-index: 10001;
}
.newsletter-popup .close {
    color: #fff;
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
}
.newsletter-popup .form {
    width: 400px;
    margin: 40px;
}
.newsletter-popup h1,
.newsletter-popup h2,
.newsletter-popup h3,
.newsletter-popup h4 {
    color: #fff;
}
.newsletter-popup h1 {
    margin-bottom: 0;
}
.newsletter-popup h4:not(:first-of-type) {
    margin-bottom: 20px;
}
#nyhetsbrev_formular {
    margin-bottom: 0;
}

@media (max-width: 960px) {
    #nlpop {
        bottom: 0;
        width: 400px;
    }
    .newsletter-popup {
        background-position: 0;
        height: 300px;
        left: 0;
        margin-left: 0;
        top: inherit;
        bottom: 0;
        width: 400px;
        background-repeat: no-repeat;
    }
    .newsletter-popup .form {
        margin: 40px 20px;
    }
}

@media (max-width: 767px) {
    #nlpop-open {
        bottom: 69px;
    }
    .main-navigation.toggled .handheld-navigation {
        max-height: 75vh;
        overflow-y: scroll;
    }
}
@media (max-width: 350px) {
    #nlpop {
        width: 320px;
    }
    .newsletter-popup {
        background-position: 0;
        height: 300px;
        width: 320px;
    }
    .newsletter-popup .form {
        width: 320px;
        margin: 40px 10px;
    }
}