#nlpop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background: rgba(0,0,0,.97);
    z-index: 999;
}
.newsletter-popup {
    background-image: url('images/tjej-tittar-vanster.jpg');
    background-position: 0 -70px;
    background-size: cover;
    color: #fff;
    height: 400px;
    left: 50%;
    margin-left: -500px;
    position: fixed;
    text-shadow: 1px 1px 2px rgba(0,0,0,.15);
    top: 70px;
    width: 1000px;
    z-index: 1000;
}
.newsletter-popup .form {
    width: 400px;
    margin: 40px;
}
.newsletter-popup h1,
.newsletter-popup h2,
.newsletter-popup h3,
.newsletter-popup h4 {
    color: #fff;
}
.newsletter-popup h1 {
    margin-bottom: 0;
}
.newsletter-popup h4:not(:first-of-type) {
    margin-bottom: 20px;
}
#nyhetsbrev_formular {
    margin-bottom: 0;
}

@media (max-width: 960px) {
    .newsletter-popup {
        background-position: -60px -70px;
        height: 361px;
        left: 50%;
        margin-left: -200px;
        top: 70px;
        width: 400px;
        background-repeat: no-repeat;
    }
}