.newsletter-popup {
    background-image: url('images/tjej-tittar-vanster.jpg');
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,.15);
    display: none;

    width: 1000px;
    height: 400px;
    position: fixed;
    top: 70px;
    left: 50%;
    margin-left: -500px;
    z-index: 1000;
    background-size: cover;
    background-position: 0 -70px;
}
.newsletter-popup .form {
    width: 400px;
    margin: 40px;
}
.newsletter-popup h1,
.newsletter-popup h2,
.newsletter-popup h3,
.newsletter-popup h4 {
    color: #fff;
}
#nyhetsbrev_formular {
    margin-bottom: 0;
}