/*!
Theme Name:   	YARDson
Theme URI:    	https://yardson.com
Author:         jimmitjoo
Author URI:     https://yardson.com
Description:  	YARDson is the perfect theme for our WooCommerce project.
Version:      	0.0.1
License:      	GNU General Public License v2 or later
License URI:  	http://www.gnu.org/licenses/gpl-2.0.html
Template:       storefront
Text Domain:  	storefront-child
*/


/* Fokusera användaren på checkout på varukorgssidan */
body.woocommerce-cart #masthead,
body.woocommerce-cart #secondary,
body.woocommerce-cart .woocommerce-breadcrumb,
body.woocommerce-cart .site-footer {
    display: none;
}
body.woocommerce-cart #primary {
    margin-right: 0;
    padding-top: 30px;
    width: 100%;
}

/* Varukorgen i desktop */
.site-header-cart {
    background: #f0c14b;
    bottom: 0;
    padding: 22px 10px;
    position: fixed;
    right: 0;
}
.site-header-cart .cart-contents {
    padding: 0;
}

@media (max-width: 767px) {
    /* Mindre rubrik i mobilen */
    .page-template-template-homepage .entry-header h1 {
        font-size: 2em;
    }
    h1 {
        font-size: 1.617924em;
    }

    /* Mindre whitespace på startsida i mobilen */
    .page-template-template-homepage:not(.has-post-thumbnail) .site-main {
        padding-top: 2.235801em;
    }
    .page-template-template-homepage .type-page {
        padding-top: 0;
    }

    /* Fixerad meny i mobilen */
    body {
        padding-top: 64px;
    }
    #masthead {
        background: rgba(255,255,255,.9);
        box-shadow: 2px 2px 2px rgba(0,0,0,.2);
        padding: 10px 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    /* Knappar kategorisidor i mobilen */
    .tax-product_cat .product button,
    .tax-product_cat .product input[type="button"],
    .tax-product_cat .product .button,
    .tax-product_cat .product a.button {
        background-color: #f0c14b;
        border-color: #f0c14b;
        color: #333333;
    }

    /* cart count */
    .cart .count {
        background-color: #f0c14b;
    }

    /* Lägg i varukorg i mobilen */
    .woocommerce-variation-add-to-cart {
        padding-top: 0 !important;
    }
    .single_variation_wrap,
    .product-type-simple form.cart
    {
        background: rgba(255,255,255,.9);
        bottom: 69px;
        box-shadow: 2px -1px 2px rgba(0, 0, 0, .25);
        left: 0;
        margin-bottom: 0 !important;
        padding: 10px 22px !important;
        position: fixed;
        width: 100vw;
        z-index: 100;
    }
    button.single_add_to_cart_button.button.alt {
        width: 100%;
    }

    /* Priser i mobilen */
    .woocommerce-variation-price {
        text-align: center;
    }
    .single_variation_wrap .woocommerce-Price-amount.amount,
    .price > .woocommerce-Price-amount.amount {
        font-weight: bold;
        color: #b12704;
    }
    .product-type-variable .price > .woocommerce-Price-amount.amount {
        color: #333;
        font-weight: normal;
    }
    .price ins .woocommerce-Price-amount.amount {
        color: #b12704 !important;
        font-weight: bold !important;
    }
    .price del .woocommerce-Price-amount.amount {
        color: #6d6d6d !important;
        font-weight: normal !important;
    }
    .type-product .quantity {
        display: none !important;
    }
}